[Unit]
Description=SuperServer App
After=network.target

[Service]
ExecStart=/home/roman/server/server
WorkingDirectory=/home/roman/server
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
